@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Raleway:wght@400;700&display=swap');
/*

font-family: 'Bitter', serif;

font-family: 'Raleway', sans-serif;

*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
.container {
	width: 1150px;
	margin: auto;
}
#header {
	width: 100%;
	height: 85px;
	margin: auto;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #D8D8D8;
	box-shadow: 0 1px 5px 2px #768F9C;
}
.header {
	width: 100%;
	height: 55px;
	display: flex;
	align-items: center;
}
.header-logo-img {
	height: 55px;
	display: block;
}
.header_nav {
	margin-left: 30px;
}
.header_ul {
	display: flex;
}
.header_li {
	list-style-type: none;
}
.header_li + .header_li {
	margin-left: 30px;
}
.header_li-links {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #1D2F38;
	display: block;
	transition: .2s;
}
.header_button {
	margin-left: auto;
}
.header_button-link {
	display: flex;
	align-items: center;
}
.header_button-img {
	height: 22px;
	border-radius: 5px;
	box-shadow: 5px 5px 0 0 #FEAD1C;
}
.header_button-span {
	margin-left: 12px;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #1D2F38;
	transition: .2s;
}
.header_li-links:hover, .header_button-span:hover {
	color: #589CBE;
}


/*///////////////////////////////////////////////////////////////////////////////*/


#main {
	width: 100%;
	margin: auto;
}
.First {
	margin-top: 60px;
	padding: 50px;
	background-color: #E3EBF1;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.first_one {
	margin-right: 25px;
}
.first_one-img {
	height: 386px;
}
.first_two {
	margin-left: 25px;
}
.first_two-intro {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 25px;
	color: #10843F;
}
.first_two-h1 {
	font-family: 'Bitter', serif;
	font-size: 47px;
	font-weight: 400;
	line-height: 52px;
	color: #1D2F38;
	margin-top: 8px;
}
.first_two-text {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	color: #333333;
	margin-top: 22.14px;
}
.first_two-button {
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	color: #ffffff;
	background-color: #1EB059;
	border-radius: 5px;
	border-style: none;
	height: 50px;
	width: 161px;
	padding: 15px;
	margin-top: 14.86px;
	cursor: pointer;
	transition: .2s;
}
.first_two-button:hover {
	background-color: #17A550;
}

/*///////////////////////////////////////////////////////////////////////////////*/


.Second {
	margin-top: 60px;
}
.second_h2 {
	font-family: 'Bitter', serif;
	font-size: 38px;
	font-weight: 400;
	line-height: 40px;
	color: #1D2F38;
}
.second_box {
	margin-top: 33.3px;
	display: flex;
	justify-content: space-between;
}
.second_one {
	width: 555px;
}
.second_one-img {
	height: 400px;
	display: block;
}
.second_one-figcapt {
	margin-top: 9px;
	padding-bottom: 30px;
}
.second_one-h3 {
	font-family: 'Bitter', serif;
	font-size: 30px;
	font-weight: 400;
	line-height: 35px;
	color: #1D2F38;
}
.second_one-descr {
	margin-top: 13px;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	color: #1D2F38;
}
.second_two-figure {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.second_two-figure + .second_two-figure {
	margin-top: 20px;
}
.second_two-img {
	height: 150px;
}
.second_two-figcapt {
	margin-left: 15px;
	margin-right: 21px;
}
.second_two-descr {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 25px;
	color: #1D2F38;
	width: 274px;
}
.second_details-img {
	height: 20px;
	margin-right: 4px;
	vertical-align: top;
}
.second_details-span {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	color: #1D2F38;
}


/*///////////////////////////////////////////////////////////////////////////////*/


.Lawncare {
	display: flex;
	margin-top: 60px;
	background-image: url(img/lawncare/background.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-clip: border-box;
	background-origin: border-box;
	padding: 30px 35px;
}
.lawncare-img {
	height: 50px;
	display: block;
}
.lawncare-text {
	margin-left: 12px;
	font-family: 'Bitter', serif;
	font-size: 28px;
	font-weight: 400;
	line-height: 32px;
	color: #1D2F38;
	display: flex;
	align-items: center;
}
.lawncare-button {
	margin-left: auto;
	padding: 15px;
	background-color: #1EB059;
	cursor: pointer;
	border-radius: 5px;
	border-style: none;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 22px;
	color: #ffffff;
	transition: .2s;
}
.lawncare-button:hover {
	background-color: #17A550;
}


/*///////////////////////////////////////////////////////////////////////////////*/


.Third {
	margin-top: 60px;
}
.third_h2 {
	font-family: 'Bitter', serif;
	font-size: 38px;
	font-weight: 400;
	line-height: 40px;
	color: #1D2F38;
}
.third_section {
	margin-top: 33.3px;
	display: flex;
	justify-content: space-between;
}
.third_section-img {
	height: 200px;
	display: block;
}
.third_section-ficgapt {
	width: 299px;
	margin: auto;
	padding: 30px 0;
}
.third_section-h3 {
	font-family: 'Bitter', serif;
	font-size: 30px;
	font-weight: 400;
	line-height: 35px;
	color: #1D2F38;
}
.third_section-descr {
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	color: #1D2F38;
	margin-top: 13px;
	overflow: hidden;
	height: 60px;
}


/*///////////////////////////////////////////////////////////////////////////////*/


.Newsletter {
	margin-top: 60px;
	background-image: url(img/Newsletter/background.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-clip: border-box;
	background-origin: border-box;
	border-radius: 10px;
	border-style: none;
	padding: 50px;
	display: flex;
	justify-content: center;
}
.newsletter_one-img {
	height: 325px;
}
.newsletter_two_header {
	display: flex;
	align-items: center;
}
.newsletter_two_header_img {
	height: 60px;
	width: 60px;
	padding: 10px 0;
	background-color: #ffffff;
	border-radius: 50%;
	border-style: none;
}
.newsletter_two-img {
	display: block;
	height: 40px;
	margin: auto;
}
.newsletter_two-span {
	margin-left: 10px;
	font-family: 'Bitter', serif;
	font-size: 30px;
	font-weight: 400;
	line-height: 35px;
	color: #1D2F38;
}
.newsletter_two-descr {
	margin-top: 30.88px;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	color: #1D2F38;
}
.newsletter_two-form {
	margin-top: 24.12px;
}
.newsletter_two-input {
	width: 100%;
	height: 50px;
	background-color: white;
	border-radius: 5px;
	border: 1px solid #AABCC5;
	padding: 15px;
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
	color: #536D7A;
	outline: none;
}
.newsletter_two_button {
	margin-top: 31.12px;
}
.newsletter_two-button {
	background-color: #FFD150;
	border-radius: 5px;
	border-style: none;
	padding: 15px 19px;	
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
	font-weight: 700;
	line-height: 20px;
	color: #000000;
	transition: .2s;
	cursor: pointer;
}
.newsletter_two-button:hover {
	background-color: #FFC728;
}
.newsletter_two_button-span {
	text-decoration: none;
	margin-left: 10px;
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
	color: #536D7A;
	transition: .2s;
}
.newsletter_two_button-span:hover {
	color: #589CBE;
}

/*///////////////////////////////////////////////////////////////////////////////*/


#footer {
	width: 100%;
	margin: auto;
}
.Footer {
	margin-top: 120px;
}
.footer_section {
	display: flex;
	justify-content: space-between;
}
.footer_section_one-img {
	height: 60px;
	display: block;
}
.footer_section_one_group {
	margin-top: 11px;
	display: flex;
}
.footer_section_one_group-img {
	height: 40px;
	display: block;
}
.footer_section_one-text {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	color: #1D2F38;
	width: 306px;
	margin-top: 19px;
}
.footer_section_two-h3 {
	font-family: 'Bitter', serif;
	font-size: 30px;
	font-weight: 400;
	line-height: 35px;
	color: #333333;
}
.footer_section_two_group {
	margin-top: 12px;
}
.footer_section_two-group {
	display: flex;
	align-items: center;
}
.footer_section_two-group + .footer_section_two-group {
	margin-top: 20px;	
}
.footer_section_two-group-img {
	height: 100px;
}
.footer_section_two-group-descr {
	margin-left: 9px;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	color: #1D2F38;
	width: 180px;
}
.footer_section_three-h3 {
	font-family: 'Bitter', serif;
	font-size: 30px;
	font-weight: 400;
	line-height: 35px;
	color: #333333;
}
.footer_section_three_form {
	margin-top: 12px;
	display: flex;
	align-items: center;
}
.footer_section_three-input {
	width: 274px;
	height: 48px;
	background-color: white;
	border-radius: 5px 0 0 5px;
	border: 1px solid #AABCC5;
	padding: 15px;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	color: #536D7A;
	outline: none;
	border-right-style: none;
}
.footer_section_three-input-search {
	height: 48px;
	padding: 14px 20px;
	background-color: #768F9C;
	outline: none;
	border-style: none;
	border-radius: 0 5px 5px 0;
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
	font-weight: 700;
	line-height: 20px;
	color: white;
	cursor: pointer;	
	transition: .2s;
}
.footer_section_three-input-search:hover {
	background-color: #5F737E;
}
.footer_section_three_a {
	margin-top: 18px;
}
.footer_section_three-a {
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	color: #1D2F38;
	transition: .2s;
}
.footer_section_three-a:hover {
	color: #589CBE;
}
.footer_section_three_p + .footer_section_three_p {
	margin-top: 8px;
}
.footer_section_three-p {
	width: 357px;
	margin-top: 28px;
	padding-top: 20px;
	border-top: 1px solid #536D7A;	
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	color: #1D2F38;
}
.footer_footer {
	width: 100%;
	margin-top: 60px;
	margin-bottom: 30px;
	padding-top: 21px;
	border-top: 1px solid #536D7A;
	display: flex;
	justify-content: space-between;
}
.footer_footer-a {
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	font-size: 11px;
	font-weight: 400;
	line-height: 20px;
	color: #1D2F38;
	transition: .2s;
}
.footer_footer-a + .footer_footer-a {
	margin-left: 10px;
}
.footer_footer-a:hover {
	color: #589CBE;
}
.footer_footer-author-design {
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
	color: #1D2F38;

}
